.nav {
    grid-area: n;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

.item {
    font-size: 20px;
    color: black;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    
}
.item a{
    text-decoration: none;
}

.active {
    color: blueviolet;
}